<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hch.hooney.tourtogether">

    <!-- 구글맵 API v2의 권한 설정(설정한 permission을 사용하겠다고 설정) -->
    <permission
        android:name="com.hch.hooney.tourtogether.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- OpenGL 사용 설정 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 페이스북 사용 설정 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- 라이브러리 사용 설정 -->
        <uses-library android:name="com.google.android.maps" />

        <!-- 구글맵 API v2 키 설정(키는 개별적으로 받아야 함) -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB7-5FbtuQ5_3F1lQZPuy9afCyJwhmwqQM" />

        <!-- GMS 라이브러리 버전 설정 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiningAndAccomodationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeisureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultCourseActivity" />
        <activity android:name=".SelectMapActivity" />
        <activity android:name=".AddMyCourseActivity" />
        <activity android:name=".JustShowMapActivity" />
        <activity android:name=".PostEditActivity" />
        <activity android:name=".PostMapActivity" />
        <activity android:name=".PostCommentActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity android:name=".TranslateActivity" />
        <activity android:name=".TranslateListActivity"></activity>
    </application>

</manifest>